@import "tailwindcss";
@custom-variant hover (&:hover);

@font-face {
    font-family: vazir;
    src: url("/src/assets/fonts/Vazir.ttf");
}

@theme {
    --font-display: "vazir", sans-serif;
    --color-navy: #0F4C75;
    --color-light-blue: #BBE1FA;
    --color-dark-gray: #1e1e1e;
    --color-primary-blue: #3281B9;
}